<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!--ionicons-->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    
    <link rel="stylesheet" type="text/css" href="resources/css/styles.css" />
    <script src=""></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row margin-top ">
            <div class="col m9">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class=""><a href="create_play_1.html">1</a></li>
                    <li role="presentation" class=""><a href="create_play_2.html">2</a></li>
                    <li role="presentation" class=""><a href="create_play_3.html">3</a></li>
                    <li role="presentation" class="active"><a class="underline" href="#">4</a></li>
                    <li role="presentation" class="disabled"><a href="#">5</a></li>
                </ul>
            </div>

            <div class="col m3">
                <div class="row left-border">
                    <div class="col m12 center">
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-button' href='#' data-beloworigin="true" data-hover='true' data-activates='dropdown1'>Kevin &nbsp; <i class="glyphicon glyphicon-triangle-bottom"></i></a>

                        <!-- Dropdown Structure -->
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="index.html">Dashboard</a></li>
                            <li><a href="#!">Edit Customer Info</a></li>
                            <li><a href="manage_profile.html">Edit Your Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="#!">Save & Logout</a></li>
                        </ul>
                    </div>
                    <div class="col m12 center top-border"><h6><span><img src="resources/images/create_salesplay.png" height="20" width="20" /></span>&nbsp; <span class="client-company">Pixar</span> performance play</h6></div>
                </div>
            </div>
        </div>
        <div id="tab3-wrapper" class="row top-border bottom-border">
            <div class="col m12 center">
                <h6>Benefits your product brings to customer &nbsp;&nbsp; <a href="#"><img src="resources/images/Idea_example_icon.png" height="30" width="25" /></a></h6>
            </div>
        </div>

        <div class="row margin-top">
            <div class="col m12">
                <ul class="collapsible" data-collapsible="accordion">
                     <li data-ng-repeat="mappingObj in paintPoints">
                        <div class="collapsible-header text-align active">{{mappingObj.productInfo}}</div>
                        <div class="collapsible-body">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col m4">
                                        <h5 class="big-line-height">List the benefits that will help accomplish resolve the specific pain point #1</h5>
                                        <br /><br />
                                        <div class="center-align"><img src="resources/images/cust.jpg" /></div>
                                    </div>
                                    <form class="col m8">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Hardware Agnostic Code" id="play-name" type="text" class="" name="productValues1" data-ng-model="product[$index].productValues1">
                                                <label for="play-name"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Global Memory Coalscing" id="client-name" type="text" class="" name="productValues2" data-ng-model="product[$index].productValues2">
                                                <label for="client-name"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Lowest Wattage per Dollar" id="receiver-name" type="text" class="" name="productValues3" data-ng-model="product[$index].productValues3">
                                                <label for="receiver-name"></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input placeholder="Highest frames per second" id="receiver-email" type="text" class="" name="productValues4" data-ng-model="product[$index].productValues4">
                                                <label for="receiver-email"></label>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                 <div class="row container-fluid center-align margin-top">
                                    <div class="col m10 center-align red lighten-3">
                                        <a class="" data-toggle="modal" data-target="#faq-modal"><h6>Include commonly asked customer questions for Vaio Z?  &nbsp;&nbsp; <img src="resources/images/Idea_example_icon.png" height="30" width="25" /></h6></a>
                                    </div>
                                    <div class="col m2">
                                        <a class="btn btn-flat floppy" data-ng-click="createBenefitDetails(product[$index],mappingObj.spmapId,$index)"><i class="fa fa-floppy-o"></i>&nbsp; Save</a>
                                    	<div class="uploadMessage">{{returnMessage[$index]}}</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                
                </ul>
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="input-field col s12 center-align">
                <a class="waves-effect waves-light btn btn-flat"  data-ng-click="previousAction()"><i class="size-18 icon ion-android-arrow-back"></i>&nbsp; Back </a>
                <a class="waves-effect waves-light btn"  data-ng-click="nextAction()">Next &nbsp;<i class="icon ion-android-arrow-forward"></i></a>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div class="modal fade" id="faq-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row bottom-border margin-top">
                        <div class="col m10">
                            <h6 class="modal-title font-125" id="Product1ModalLabel">Craft your own FAQ's customers would most likely want answers to</h6>
                        </div>
                        <div class="col m2 left-border margin-bottom left-margin">
                            <a href="#"><img src="images/Idea_example_icon.png" height="30" width="25" /></a>
                        </div>
                    </div>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="container-fluid">
                            <label for="q1">1</label>
                            <div class="input-field no-margin-top">
                                <input id="q1" type="text" class="">
                            </div>

                            <label for="a1">A</label>
                            <div class="input-field no-margin-top">
                                <input id="a1" type="text" class="">
                            </div>
                        </div>
                        <div class="container-fluid">
                            <label for="q2">2</label>
                            <div class="input-field no-margin-top">
                                <input id="q2" type="text" class="">
                            </div>

                            <label for="a2">A</label>
                            <div class="input-field no-margin-top">
                                <input id="a2" type="text" class="">
                            </div>
                        </div>
                        <div class="container-fluid">
                            <label for="q3">3</label>
                            <div class="input-field no-margin-top">
                                <input id="q3" type="text" class="">
                            </div>

                            <label for="a3">A</label>
                            <div class="input-field no-margin-top">
                                <input id="a3" type="text" class="">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-green btn btn-flat" href="">Submit</a>
                </div>
            </div>
        </div>
    </div>
</html>
